<div id="p_issue_text_id" style="display:none;float: right; margin-right: 550pt;"><%= form.text_field :text_id, :size =>10 %></div>
<script>
  var story_id="<%=has_story_tracker?(@project)%>"
	function show_story_id(){
		 if ($('issue_tracker_id').value==story_id){
        Element.insert( $('issue_descr_fields').children[0].children[1],{'after':$('p_issue_text_id')});  
        Element.show($('p_issue_text_id'));
      }else{
        Element.hide($('p_issue_text_id'));
      }
	};
  document.observe('dom:loaded', function() {
		show_story_id();
    Event.observe('issue_tracker_id', 'change', function(e){      
      show_story_id();
    });
  });
</script>