<div id="p_issue_text_id" style="display:none;float: right; margin-right: 350pt;">
  <%= label_tag "issue[text_id]", l(:field_text_label) %>
  <%= text_field_tag "issue[text_id]", nil, :size => 10 %>
</div>
<script>
  var story_id="<%=Issue.has_story_tracker?(@project)%>"
	function show_story_id(){
		 if ($('#issue_tracker_id').val() == story_id){
        $($('#all_attributes').children()[1]).append($('#p_issue_text_id'));
        $('#p_issue_text_id').show();
      }else{
        $('#p_issue_text_id').hide();
      }
	};
  $(document).ready( function(){
		show_story_id();
    $('#issue_tracker_id').change( function(e){      
      show_story_id();
    });
  });
</script>